{% extends "_base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user-login" role="tab">User Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin-login" role="tab">Admin Login</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="user-login" role="tabpanel">
                        <h5 class="card-title text-center">User Login / Register</h5>
                        <p class="text-center">Enter your mobile number to receive an OTP.</p>
                        <form method="post">
                            <input type="hidden" name="form_type" value="user">
                            {% if not mobile_sent %}
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="tel" class="form-control" name="mobile_number" required placeholder="+91XXXXXXXXXX">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
                            {% else %}
                                <p>An OTP was sent to <strong>{{ mobile }}</strong>. Please enter it below.</p>
                                <div class="form-group">
                                    <label>OTP</label>
                                    <input type="text" class="form-control" name="otp" required maxlength="6">
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Verify OTP</button>
                            {% endif %}
                        </form>
                    </div>
                    <div class="tab-pane fade" id="admin-login" role="tabpanel">
                        <h5 class="card-title text-center">Admin Login</h5>
                        <form method="post">
                            <input type="hidden" name="form_type" value="admin">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login as Admin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}